/*
This is css style comment for singleline and/or multiline.
*/

p{
  color:blue;
  text-align:center;
  border: 3px dotted red;
}

#top , #middle{
  font-family: Arial, sans-serif;
  font-style:italic;
  background-color: orange;
  width: 400px;
  height: 400px;
  margin: 10px;
  padding: 10px;
}

table{
  border:2px solid black;
  width: inherit;
  border-collapse: collapse;
}
th{
  background-color: lightgrey;
}
th, td{
  padding: 4px;
  border:1px solid black;
}
/*
# is used to style html elements with unique id's. no two elements can have same id.
But multiple elements (of different types even) can have same class.
*/
#middle {
  text-align: center;

}
/*
. (dot) is used to style classes. Multiple html elements can be styled by a same single class.
*/
.myClass {
  border: 2px solid red;
}
